:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
}

.css-messege {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 10px;
    border-radius: 5px;
}


.success {
    background-color: var(--success-color);
    text-align: center;
    padding: 10px;
    color: white;
}

.error {
    background-color: #dc3545;
    text-align: center;
    padding: 10px;
    color: #f8f9fa;
}

h1 {
    text-align: center;
}

.form-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

dl > dd {
    border-radius: 5px;
    background-color: var(--secondary-color);
    padding: 5px;
    margin-top: 7px;
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: var(--light-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .form-div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

    }
    dl > dd {
        margin-top: 10px;

    }
    
}