{% extends "base.html" %}

{% block header %} {{ title }} {% endblock %}

{% block content %}

<div>
    <h1>Registros</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>APP</th>
                <th>APM</th>
                <th>NOMBRE</th>
                <th>MATRICULA</th>
                <th>EMAIL</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>
                    <a href="/qrcode/{{ row[0] }}">PDF</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}